<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styleSheet.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetPost.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav role="navigation" class="navbar-fix">
    <div class="nav-wrapper blue-grey lighten-5">
        <a href="/" class="brand-logo center blue-grey-text darken-4">
            <div class="avatar">
                <img src="/img/logInPic.jpg">
            </div>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="mobile.html"><i class="material-icons blue-grey-text darken-4">more_vert</i></a></li>
            <li><a href="sass.html"><i class="material-icons blue-grey-text darken-4">search</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 auther">
            <div class="col s12 m8 offset-m2 l6 offset-l7">
                <div class="card-panel backgrond-auther lighten-5 z-depth-0 ">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <a href="/profile"><img src="/img/blog.jpg" alt="" class="circle responsive-img"> </a><!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
              <span class="black-text">
                  <h5><%= art.author %></h5>
                   بیوگرافی نویسنده
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                    <img src="/img/blog-img.jpg" height="300px">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content direction-matlab">
                    <a href="http://localhost:8181/post/<%= art._id %>"><p class="card-title"> عنوان مقاله : <b> <%= art.title %> </b> </p></a>
                    <p> خلاصه مقاله : <%= art.abstract %></p>
                    <br><br><br>
                    <p> متن مقاله : <%= art.content %></p>
                </div>
                <div class="card-action">
                    <a href="#">#tag</a>
                    <a href="#">#tag</a>
                    <a href="#">#tag</a>

                </div>
            </div>
        </div>
    </div>
    <div class="row right-align">
        <div class="card col s6 offset-m6 white lighten-6 z-depth-1">

            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 right-align">
                        <textarea id="commentField" class="materialize-textarea "></textarea>
                        <label for="commentField">دیدگاه</label>
                    </div>
                    <a class="btn waves-effect waves-light blue lighten-4" id="sendComment" onclick="addCommentToDB('<%= art._id %>')" style="margin-right: 10px">ارسال</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/comment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>